<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/bs5.ejs") %>
        <%- include ("../partials/bs5-override.ejs") %>
        <%- include ("../partials/google-fonts.ejs") %>
        <%- include ("../partials/google-icons.ejs") %>
        <!-- TODO: change css/js links to .ejs templates -->
        <link rel="stylesheet" href="./stylesheets/navbar.css" />
        <script src="scripts/navbar.js" defer></script>
        <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <!-- NAVBAR start -->
        <header>
            <!-- LOGO start -->
            <div class="logo">
                <img src="./media/note.png" alt="Music Note">
                PERSONGIFY
            </div>
            <!-- LOGO end -->
            <!-- HAMBURGER MENU start -->
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <!-- HAMBURGER MENU end -->
            <!-- LINKS start -->
            <nav class="navbar">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/songs">Discover +</a>
                        <ul>
                            <li><a href="/songs">Create Playlist</a></li>
                            <li><a href="/new-distance-playlist">Commute</a></li>
                            <li><a href="/review">Year In Review</a></li>
                        </ul>
                    </li>
                    <li><a href="/trending">Trending</a></li>
                    <li><a href="/account">Hello, <%= locals.username %></a>
                        <ul>
                            <li><a href="/account">Account Info</a></li>
                            <li><a href="/playlists">Saved Playlist</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- LINKS end -->
        </header>
        <!-- NAVBAR end -->
        <!-- HEADINGS -->
        <div class="container text-center mb-3 clearfix" id="first-item">
            <h1 class="display-1 text-white"><span class="span-magenta">PERSONGIFY</span> Travel</h1>
            <h1 class="display-6 text-white">Please specify start and end points.</h1>
        </div>

        <!-- DISTANCE CALC FORM -->
        <!-- TODO: added options for addresses/pick location on map/other location options -->
        <div class="container w-50 p-3">
            <form action="/distance-playlist" method="post">
                <!-- Origin Address -->
                <div class="input-group mb-3">
                    <div class="form-floating flex-grow-1">
                        <input type="text" id="orig_city" name="f_orig_city" 
                        class="form-control radius-start" placeholder="Starting City"
                        required>
                        <label for="orig_city">Starting City</label>
                    </div>
                    <div class="form-floating flex-grow-1">
                        <input type="text" id="orig_province" name="f_orig_province" 
                        class="form-control radius-end" placeholder="Starting Province"
                        required>
                        <label for="orig_province">Starting Province/State</label>
                    </div>
                </div>
                <!-- Destination Address -->
                <div class="input-group mb-3">
                    <div class="form-floating flex-grow-1">
                        <input type="text" id="dest_city" name="f_dest_city" 
                        class="form-control radius-start" placeholder="Destination City"
                        required>
                        <label for="dest_city">Destination City</label>
                    </div>
                    <div class="form-floating flex-grow-1">
                        <input type="text" id="dest_province" name="f_dest_province" 
                        class="form-control radius-end" placeholder="Destination Province"
                        required>
                        <label for="dest_province">Destination Province/State</label>
                    </div>
                </div>
                <!-- Transport Mode -->
                <div class="form-floating">
                    <select class="form-select mb-3" id="travel_mode" name="f_travel_mode"
                    aria-label="Mode of Travel" required>
                        <option value="driving" selected>Driving</option>
                        <option value="transit">Public Transit</option>
                        <option value="walking">Walking</option>
                        <option value="bicycling">Bicycling</option>
                    </select>
                    <label for="travel_mode">Select Mode of Travel:</label>
                </div>
                <!-- Genre -->
                <div class="form-floating">
                    <select class="form-select mb-3" id="genre" name="f_genre"
                    aria-label="Preferred Genre" required>
                        <option value="lofi" selected>Lo-Fi</option>
                        <option value="hip-hop">Hip-hop</option>
                        <option value="house">House</option>
                        <option value="rock">Rock</option>
                        <option value="jazz">Jazz</option>
                        <option value="r-n-b">R&B</option>
                        <option value="classical">Classical</option>
                        <option value="country">Country</option>
                        <option value="dancehall">Dancehall</option>
                        <option value="dubstep">Dubstep</option>
                        <option value="folk">Folk</option>
                        <option value="latin">Latin</option>
                        <option value="metal">Metal</option>
                        <option value="work-out">Work-out</option>

                    </select>
                    <label for="genre">Select Genre:</label>
                </div>
                <!-- Preferred Artist + Song -->
                <div class="input-group mb-3">
                    <div class="form-floating flex-grow-1">
                        <input type="text" id="artist" name="f_artist" 
                        class="form-control radius-start" placeholder="Preferred Artist"
                        required>
                        <label for="artist">Preferred Artist</label>
                    </div>
                    <div class="form-floating flex-grow-1">
                        <input type="text" id="song" name="f_song" 
                        class="form-control radius-end" placeholder="Preferred Song"
                        required>
                        <label for="song">Preferred Song</label>
                    </div>
                </div>


                <!-- form buttons -->
                <div class="d-grid gap-3">
                    <button type="reset" value="Reset"
                    class="btn btn-danger btn-sm btn-block">Reset</button>
                    <button type="submit" value="Submit" id="formSubmit"
                    class="btn btn-outline-dark btn-lg btn-block border-noset">Generate Playlist</button>
                </div>
            </form>
        </div>

    </body>
</html>